*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/libraries/opencv/build
/libraries/opencv/gen
/app/build
.idea/
app/libs/
app/src/main/res/drawable/
gradle/wrapper/gradle-wrapper.jar
